<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Sensor Dashboard</title>
</head>
<body>

<h1>Dashboard Sensore – Quale sensore vuoi vedere?</h1>

<select name="semsors" id="sensors">--scegli sensore--</select>
    <option value="start">--Scegli sensore--</option>
    <option value="temperature">temperature</option>
    <option value="humidity">humidity</option>
    <option value="pressure">pressure</option>

<button type="button" onclick=type()>Confermo</button>
<script>
</script>
</body>
</html>