<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Sensor Dashboard</title>
</head>
<body>

<h1 id="title" >Dashboard Sensore – Quale sensore vuoi vedere?</h1>

<select name="semsors" id="sensors">
    <option value=None>--Scegli sensore--</option>
    <option value="temperature">temperature</option>
    <option value="humidity">humidity</option>
    <option value="pressure">pressure</option>
</select>
<button type="button" onclick=getType()>Confermo</button>

<h3>Dati grezzi (MQTT)</h3>
<pre id="raw">---</pre>

<h3>Dati formattati</h3>
<p id="formatted">---</p>


<script>
    async function getType(){
        const sensor = document.getElementById("sensors").value;
        location.href = sensor+".html" ;
    }
</script>
</body>
</html>